.header {
    padding: 5px 0px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f6f1f1;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}